# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [173]:
#load python packages
import pandas as pd
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import os
print(os.getcwd())
print(os.listdir(os.getcwd()))

C:\Users\Abhinov Baruah\Documents\DataWrangling_Step2\Step 2\data
['step2_output.csv', 'Step3_EDA.csv']

In [174]:
os.chdir(r'C:\Users\Abhinov Baruah\Documents\DataWrangling_Step2\Step 2\data')

In [175]:
print(os.getcwd())

C:\Users\Abhinov Baruah\Documents\DataWrangling_Step2\Step 2\data

In [176]:
print(os.listdir(os.getcwd()))

['step2_output.csv', 'Step3_EDA.csv']

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [177]:
df = pd.read_csv('Step3_EDA.csv')
df.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090,294,0,0.0,0,0,0,1,...,30.0,30.000000,150.0,36.0,69.0,30.0,34.00000,152.0,30.0,2
1,Sunrise Park Resort,Arizona,11100,1800,0,0.0,0,1,2,3,...,800.0,80.000000,115.0,49.0,250.0,74.0,78.00000,104.0,80.0,1
2,Yosemite Ski & Snowboard Area,California,7800,600,0,0.0,0,0,0,1,...,88.0,174.873239,110.0,84.0,300.0,47.0,47.00000,107.0,0.0,1
3,Boreal Mountain Resort,California,7700,500,0,0.0,0,1,1,3,...,380.0,200.000000,150.0,54.0,400.0,49.0,64.16681,150.0,200.0,1
4,Dodge Ridge,California,8200,1600,0,0.0,0,0,1,2,...,862.0,174.873239,114.0,69.0,350.0,78.0,78.00000,140.0,0.0,1

In [178]:
df.dtypes

Name                  object
state                 object
summit_elev            int64
vertical_drop          int64
trams                  int64
fastEight            float64
fastSixes              int64
fastQuads              int64
quad                   int64
triple                 int64
double                 int64
surface                int64
total_chairs           int64
Runs                 float64
TerrainParks         float64
LongestRun_mi        float64
SkiableTerrain_ac    float64
Snow Making_ac       float64
daysOpenLastYear     float64
yearsOpen            float64
averageSnowfall      float64
AdultWeekday         float64
AdultWeekend         float64
projectedDaysOpen    float64
NightSkiing_ac       float64
clusters               int64
dtype: object

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [179]:
df = pd.concat([df.drop('state',axis=1),pd.get_dummies(df['state'])],axis=1)

In [180]:
df

,Name,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Hilltop Ski Area,2090,294,0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Sunrise Park Resort,11100,1800,0,0.0,0,1,2,3,1,...,0,0,0,0,0,0,0,0,0,0
2,Yosemite Ski & Snowboard Area,7800,600,0,0.0,0,0,0,1,3,...,0,0,0,0,0,0,0,0,0,0
3,Boreal Mountain Resort,7700,500,0,0.0,0,1,1,3,1,...,0,0,0,0,0,0,0,0,0,0
4,Dodge Ridge,8200,1600,0,0.0,0,0,1,2,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Hogadon Basin,8000,640,0,0.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
172,Sleeping Giant Ski Resort,7428,810,0,0.0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
173,Snow King Resort,7808,1571,0,0.0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
174,Snowy Range Ski & Recreation Area,9663,990,0,0.0,0,0,0,1,3,...,0,0,0,0,0,0,0,0,0,1
175,White Pine Ski Area,9500,1100,0,0.0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,1

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [181]:
# first we import the preprocessing package from the sklearn library
from sklearn.preprocessing import StandardScaler

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df['AdultWeekend'] 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [182]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [183]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model1 = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [184]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = lm.predict(X_test)

## Review Model Outcomes — Iterate over additional models as needed

In [185]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

exp_var_score = explained_variance_score(y_test,y_pred)
print('explained_variance_score: ' + str(exp_var_score))

explained_variance_score: -8.002193245219076e+21

In [186]:
mean_abs_error = mean_absolute_error(y_test,y_pred)
print('mean_absolute_error: ' + str(mean_abs_error))

mean_absolute_error: 186056805296.2098

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [187]:
lm.intercept_

46514201378.74158

In [188]:
lm.coef_

array([-4.32382917e-01,  3.08292083e+00,  7.66604639e+12,  4.86759551e+12,
       -5.06290849e+11,  1.92408005e+12,  2.30207807e+12,  4.04295604e+12,
        4.94965925e+12,  4.73672959e+12, -9.01600689e+12,  4.36855683e-01,
        1.80095460e+00,  1.09695625e+00, -1.66565174e+00, -6.71089422e-01,
        1.18897891e+00, -3.80088141e-01,  1.88419795e+00,  9.34320492e+00,
       -2.14042152e+00,  9.24929607e-01, -1.56305937e+00, -6.15324888e+11,
       -6.15324888e+11, -2.06346926e+12, -1.36009272e+12, -1.36009272e+12,
       -1.48554408e+12, -1.05966633e+12, -8.67710952e+11, -1.05966633e+12,
       -1.36009272e+12, -6.15324888e+11, -1.22005575e+12, -2.28583051e+12,
       -1.70523835e+12, -8.67710952e+11, -1.22005575e+12, -6.15324888e+11,
       -1.98163549e+12,  1.57316909e+05, -1.48554408e+12, -2.59814123e+12,
       -1.05966633e+12, -1.22005575e+12, -1.05966633e+12, -1.98163549e+12,
       -6.15324888e+11, -6.15324888e+11, -6.15324888e+11, -1.05966633e+12,
       -1.70523835e+12, -8.67710952e+11, -1.22005575e+12, -1.05966633e+12,
       -1.98163549e+12, -1.36009272e+12])

In [189]:
lm.singular_

array([2.92649015e+01, 2.28956384e+01, 1.67936754e+01, 1.67217033e+01,
       1.56420599e+01, 1.49795442e+01, 1.46630979e+01, 1.41975354e+01,
       1.39809970e+01, 1.38468075e+01, 1.36855727e+01, 1.35838853e+01,
       1.34845310e+01, 1.34212984e+01, 1.33428292e+01, 1.31736800e+01,
       1.30612800e+01, 1.29946226e+01, 1.28633459e+01, 1.26581197e+01,
       1.24359505e+01, 1.22225901e+01, 1.21406275e+01, 1.20196104e+01,
       1.17741849e+01, 1.15955494e+01, 1.15325645e+01, 1.14545612e+01,
       1.12580315e+01, 1.09894377e+01, 1.07740775e+01, 1.03875732e+01,
       1.01559853e+01, 9.39326564e+00, 9.07480412e+00, 8.36098629e+00,
       8.29956591e+00, 7.81227875e+00, 7.63117295e+00, 7.25717102e+00,
       6.96842086e+00, 6.33799822e+00, 5.74819077e+00, 5.67330188e+00,
       4.95925229e+00, 4.82282659e+00, 4.46013479e+00, 4.18407053e+00,
       3.61115699e+00, 3.43633627e+00, 2.83526594e+00, 1.19292875e+00,
       1.03969816e-13, 2.43638603e-15, 2.43638603e-15, 2.43638603e-15,
       2.43638603e-15, 2.43638603e-15])

In [190]:
lm.rank_

53

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [191]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
All_Coef = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
All_Coef

                    Coefficient
summit_elev        4.323829e-01
vertical_drop      3.082921e+00
trams              7.666046e+12
fastEight          4.867596e+12
fastSixes          5.062908e+11
fastQuads          1.924080e+12
quad               2.302078e+12
triple             4.042956e+12
double             4.949659e+12
surface            4.736730e+12
total_chairs       9.016007e+12
Runs               4.368557e-01
TerrainParks       1.800955e+00
LongestRun_mi      1.096956e+00
SkiableTerrain_ac  1.665652e+00
Snow Making_ac     6.710894e-01
daysOpenLastYear   1.188979e+00
yearsOpen          3.800881e-01
averageSnowfall    1.884198e+00
AdultWeekday       9.343205e+00
projectedDaysOpen  2.140422e+00
NightSkiing_ac     9.249296e-01
clusters           1.563059e+00
Alaska             6.153249e+11
Arizona            6.153249e+11
California         2.063469e+12
Colorado           1.360093e+12
Connecticut        1.360093e+12
Idaho              1.485544e+12
Illinois           1.059666e+12
Indiana            8.677110e+11
Iowa               1.059666e+12
Maine              1.360093e+12
Maryland           6.153249e+11
Massachusetts      1.220056e+12
Michigan           2.285831e+12
Minnesota          1.705238e+12
Missouri           8.677110e+11
Montana            1.220056e+12
Nevada             6.153249e+11
New Hampshire      1.981635e+12
New Jersey         1.573169e+05
New Mexico         1.485544e+12
New York           2.598141e+12
North Carolina     1.059666e+12
Ohio               1.220056e+12
Oregon             1.059666e+12
Pennsylvania       1.981635e+12
Rhode Island       6.153249e+11
South Dakota       6.153249e+11
Tennessee          6.153249e+11
Utah               1.059666e+12
Vermont            1.705238e+12
Virginia           8.677110e+11
Washington         1.220056e+12
West Virginia      1.059666e+12
Wisconsin          1.981635e+12
Wyoming            1.360093e+12

In [192]:
All_Coef.sort_values('Coefficient',ascending=False).head(10)

               Coefficient
total_chairs  9.016007e+12
trams         7.666046e+12
double        4.949659e+12
fastEight     4.867596e+12
surface       4.736730e+12
triple        4.042956e+12
New York      2.598141e+12
quad          2.302078e+12
Michigan      2.285831e+12
California    2.063469e+12

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [193]:
df1 = pd.read_csv('Step3_EDA.csv')
df1.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090,294,0,0.0,0,0,0,1,...,30.0,30.000000,150.0,36.0,69.0,30.0,34.00000,152.0,30.0,2
1,Sunrise Park Resort,Arizona,11100,1800,0,0.0,0,1,2,3,...,800.0,80.000000,115.0,49.0,250.0,74.0,78.00000,104.0,80.0,1
2,Yosemite Ski & Snowboard Area,California,7800,600,0,0.0,0,0,0,1,...,88.0,174.873239,110.0,84.0,300.0,47.0,47.00000,107.0,0.0,1
3,Boreal Mountain Resort,California,7700,500,0,0.0,0,1,1,3,...,380.0,200.000000,150.0,54.0,400.0,49.0,64.16681,150.0,200.0,1
4,Dodge Ridge,California,8200,1600,0,0.0,0,0,1,2,...,862.0,174.873239,114.0,69.0,350.0,78.0,78.00000,140.0,0.0,1

In [194]:
# first we import the preprocessing package from the sklearn library
from sklearn.preprocessing import StandardScaler

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name','state'
# and 'AdultWeekend' from the df1

x = df1.drop(['Name','state','AdultWeekend'],axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 

y = df1['AdultWeekend']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
x_scaled=scaler.transform(x)

In [195]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
# Why?
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, x_train, x_test, y_train and y_test separated by commas 

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.25, random_state=1)

In [196]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model2 = lm.fit(x_train,y_train)

# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = lm.predict(x_test)

In [197]:
exp_var_score = explained_variance_score(y_test,y_pred)
print('explained_variance_score: ' + str(exp_var_score))
mean_abs_error = mean_absolute_error(y_test,y_pred)
print('mean_absolute_error: ' + str(mean_abs_error))

explained_variance_score: 0.5333982192961002
mean_absolute_error: 7.362639252997443

In [198]:
lm.intercept_

56.35217698189344

In [199]:
lm.coef_

array([-2.99529361e+00,  2.68886371e+00, -1.77635684e-15, -7.77156117e-16,
       -8.88178420e-16,  5.96081783e-01,  2.04596164e+00,  5.13529206e-01,
        5.28102306e-01, -1.31377148e+00,  4.79590882e-01,  5.53847629e-02,
        2.55271755e+00,  1.27562328e+00, -1.51181452e+00, -7.60475889e-01,
        1.87794878e+00, -3.87550345e-01, -7.56812119e-01,  1.01488667e+01,
       -1.73137196e+00,  2.11814277e-01, -3.51869751e+00])

In [200]:
pd.DataFrame(abs(lm.coef_),index= x.columns,columns=['Coefficient']).sort_values('Coefficient',ascending=False)

                    Coefficient
AdultWeekday       1.014887e+01
clusters           3.518698e+00
summit_elev        2.995294e+00
vertical_drop      2.688864e+00
TerrainParks       2.552718e+00
quad               2.045962e+00
daysOpenLastYear   1.877949e+00
projectedDaysOpen  1.731372e+00
SkiableTerrain_ac  1.511815e+00
surface            1.313771e+00
LongestRun_mi      1.275623e+00
Snow Making_ac     7.604759e-01
averageSnowfall    7.568121e-01
fastQuads          5.960818e-01
double             5.281023e-01
triple             5.135292e-01
total_chairs       4.795909e-01
yearsOpen          3.875503e-01
NightSkiing_ac     2.118143e-01
Runs               5.538476e-02
trams              1.776357e-15
fastSixes          8.881784e-16
fastEight          7.771561e-16

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [201]:
df2 = pd.read_csv('Step3_EDA.csv')
df2.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090,294,0,0.0,0,0,0,1,...,30.0,30.000000,150.0,36.0,69.0,30.0,34.00000,152.0,30.0,2
1,Sunrise Park Resort,Arizona,11100,1800,0,0.0,0,1,2,3,...,800.0,80.000000,115.0,49.0,250.0,74.0,78.00000,104.0,80.0,1
2,Yosemite Ski & Snowboard Area,California,7800,600,0,0.0,0,0,0,1,...,88.0,174.873239,110.0,84.0,300.0,47.0,47.00000,107.0,0.0,1
3,Boreal Mountain Resort,California,7700,500,0,0.0,0,1,1,3,...,380.0,200.000000,150.0,54.0,400.0,49.0,64.16681,150.0,200.0,1
4,Dodge Ridge,California,8200,1600,0,0.0,0,0,1,2,...,862.0,174.873239,114.0,69.0,350.0,78.0,78.00000,140.0,0.0,1

In [202]:
# first we import the preprocessing package from the sklearn library
from sklearn.preprocessing import StandardScaler

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name','state'
# and 'AdultWeekend' from the df1

x = df2.drop(['Name','state','AdultWeekend','summit_elev'],axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 

y = df2['AdultWeekend']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
x_scaled=scaler.transform(x)

In [203]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
# Why?
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, x_train, x_test, y_train and y_test separated by commas 

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.25, random_state=1)

In [204]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model3 = lm.fit(x_train,y_train)

# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = lm.predict(x_test)

In [205]:
exp_var_score = explained_variance_score(y_test,y_pred)
print('explained_variance_score: ' + str(exp_var_score))
mean_abs_error = mean_absolute_error(y_test,y_pred)
print('mean_absolute_error: ' + str(mean_abs_error))

explained_variance_score: 0.5276094398886526
mean_absolute_error: 7.634332532344411

In [206]:
lm.intercept_

56.20509424764034

In [207]:
lm.coef_

array([ 2.65262258e+00, -2.66453526e-15, -4.44089210e-16, -1.11022302e-15,
        7.86188428e-01,  1.99647311e+00,  3.26518102e-01,  6.24013229e-01,
       -1.02820814e+00,  6.26345316e-01, -2.16746740e-01,  2.56295062e+00,
        1.53930818e+00, -2.70864739e+00, -1.13107758e+00,  1.49303057e+00,
       -4.83530554e-01, -1.52535700e+00,  1.01172373e+01, -1.45725140e+00,
        3.71988185e-01, -2.89145448e+00])

In [208]:
pd.DataFrame(abs(lm.coef_),index= x.columns,columns=['Coefficient']).sort_values('Coefficient',ascending=False)

                    Coefficient
AdultWeekday       1.011724e+01
clusters           2.891454e+00
SkiableTerrain_ac  2.708647e+00
vertical_drop      2.652623e+00
TerrainParks       2.562951e+00
quad               1.996473e+00
LongestRun_mi      1.539308e+00
averageSnowfall    1.525357e+00
daysOpenLastYear   1.493031e+00
projectedDaysOpen  1.457251e+00
Snow Making_ac     1.131078e+00
surface            1.028208e+00
fastQuads          7.861884e-01
total_chairs       6.263453e-01
double             6.240132e-01
yearsOpen          4.835306e-01
NightSkiing_ac     3.719882e-01
triple             3.265181e-01
Runs               2.167467e-01
trams              2.664535e-15
fastSixes          1.110223e-15
fastEight          4.440892e-16

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell — you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

Model3 seems to be the best model to explain the resposne variable AdultWeekend and the other features affecting it.